<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="/login" method="post">
        <div>
            <input type="text" name="username" id="" placeholder="Registration Number" required>
        </div>
        <div>
            <input type="password" name="password" id="" placeholder="Passcode" required>
        </div>
        <div>
            <input type="submit" value="Login">
        </div>
    </form>

    <a href="/registration">Register</a>
</body>
</html>